--
-- PostgreSQL database dump
--

\restrict nNuUe9EWmulBWNRXAqSLgEUur4dzBTzq7hA11s3C9pYdo3uXxybkGvAZchEeiLL

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: update_monthly_aggregates(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_monthly_aggregates() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    INSERT INTO usage_monthly_agg (billing_month, msisdn, days_in_cycle, voice_minutes, sms_count, data_bytes, last_updated)

    VALUES (DATE_TRUNC('month', NEW.usage_date), NEW.msisdn, 1, NEW.voice_minutes, NEW.sms_count, NEW.data_bytes, NOW())

    ON CONFLICT (billing_month, msisdn) 

    DO UPDATE SET

        days_in_cycle = usage_monthly_agg.days_in_cycle + 1,

        voice_minutes = usage_monthly_agg.voice_minutes + NEW.voice_minutes,

        sms_count = usage_monthly_agg.sms_count + NEW.sms_count,

        data_bytes = usage_monthly_agg.data_bytes + NEW.data_bytes,

        last_updated = NOW();

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_monthly_aggregates() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cdr_data; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cdr_data (
    id bigint NOT NULL,
    effective_date timestamp with time zone NOT NULL,
    msisdn character varying(50) NOT NULL,
    total_volume_bytes numeric(18,3),
    created_at timestamp with time zone DEFAULT now(),
    billing_code character varying(20),
    tenant_id bigint,
    usage_type character varying(20),
    duration_seconds integer,
    access_point_name character varying(50)
);


ALTER TABLE public.cdr_data OWNER TO postgres;

--
-- Name: cdr_data_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cdr_data_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cdr_data_id_seq OWNER TO postgres;

--
-- Name: cdr_data_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cdr_data_id_seq OWNED BY public.cdr_data.id;


--
-- Name: cdr_sms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cdr_sms (
    id bigint NOT NULL,
    effective_date timestamp with time zone NOT NULL,
    msisdn character varying(50) NOT NULL,
    message_count integer,
    created_at timestamp with time zone DEFAULT now(),
    other_party_number character varying(80),
    billing_code character varying(20),
    tenant_id bigint,
    usage_type character varying(20)
);


ALTER TABLE public.cdr_sms OWNER TO postgres;

--
-- Name: cdr_sms_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cdr_sms_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cdr_sms_id_seq OWNER TO postgres;

--
-- Name: cdr_sms_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cdr_sms_id_seq OWNED BY public.cdr_sms.id;


--
-- Name: cdr_voice; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cdr_voice (
    id bigint NOT NULL,
    effective_date timestamp with time zone NOT NULL,
    tenant_id bigint,
    msisdn character varying(50) NOT NULL,
    subscriber_id bigint,
    usage_type character varying(20),
    duration_minutes integer,
    created_at timestamp with time zone DEFAULT now(),
    other_party_number character varying(80),
    duration_seconds integer,
    billing_code character varying(20)
);


ALTER TABLE public.cdr_voice OWNER TO postgres;

--
-- Name: cdr_voice_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cdr_voice_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cdr_voice_id_seq OWNER TO postgres;

--
-- Name: cdr_voice_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cdr_voice_id_seq OWNED BY public.cdr_voice.id;


--
-- Name: daily_subscriber_reports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.daily_subscriber_reports (
    id bigint NOT NULL,
    usage_date date NOT NULL,
    msisdn character varying(50) NOT NULL,
    imsi character varying(17),
    tenant_id bigint,
    billing_code character varying(20),
    active_status smallint,
    suspend_status smallint,
    voice_minutes numeric(10,2),
    sms_units numeric(10,2),
    data_bytes numeric(18,3),
    flag character varying(20),
    subscriber_state character varying(20),
    activation_date timestamp with time zone,
    suspend_date timestamp with time zone,
    deactivation_date timestamp with time zone,
    bundle_id character varying(20),
    expiration_date date,
    iccid character varying(22),
    zipcode character varying(5),
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.daily_subscriber_reports OWNER TO postgres;

--
-- Name: daily_subscriber_reports_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.daily_subscriber_reports_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.daily_subscriber_reports_id_seq OWNER TO postgres;

--
-- Name: daily_subscriber_reports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.daily_subscriber_reports_id_seq OWNED BY public.daily_subscriber_reports.id;


--
-- Name: data_donations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.data_donations (
    id integer NOT NULL,
    recipient_msisdn character varying(20) NOT NULL,
    amount_gb numeric(10,2) NOT NULL,
    transaction_date timestamp with time zone DEFAULT now(),
    status character varying(20) DEFAULT 'COMPLETED'::character varying,
    donor_msisdn character varying(20)
);


ALTER TABLE public.data_donations OWNER TO postgres;

--
-- Name: data_donations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.data_donations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.data_donations_id_seq OWNER TO postgres;

--
-- Name: data_donations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.data_donations_id_seq OWNED BY public.data_donations.id;


--
-- Name: donation_thresholds; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.donation_thresholds (
    msisdn character varying(15) NOT NULL,
    billing_month date NOT NULL,
    calculation_date date NOT NULL,
    allocated_data_gb numeric(10,2),
    predicted_usage_gb numeric(10,2),
    confidence_buffer_gb numeric(10,2),
    safe_donation_amount_gb numeric(10,2),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.donation_thresholds OWNER TO postgres;

--
-- Name: donations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.donations (
    donation_id integer NOT NULL,
    donor_msisdn character varying(15),
    recipient_msisdn character varying(15),
    donation_amount_gb numeric(10,2),
    billing_month date,
    status character varying(20),
    reward_points integer,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.donations OWNER TO postgres;

--
-- Name: donations_donation_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.donations_donation_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.donations_donation_id_seq OWNER TO postgres;

--
-- Name: donations_donation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.donations_donation_id_seq OWNED BY public.donations.donation_id;


--
-- Name: pool_assignments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pool_assignments (
    assignment_id bigint NOT NULL,
    msisdn character varying(50) NOT NULL,
    tier_id integer,
    billing_month date NOT NULL,
    assigned_date timestamp with time zone DEFAULT now(),
    reason character varying(100),
    previous_tier_id integer
);


ALTER TABLE public.pool_assignments OWNER TO postgres;

--
-- Name: pool_assignments_assignment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pool_assignments_assignment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pool_assignments_assignment_id_seq OWNER TO postgres;

--
-- Name: pool_assignments_assignment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pool_assignments_assignment_id_seq OWNED BY public.pool_assignments.assignment_id;


--
-- Name: pool_tiers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pool_tiers (
    tier_id integer NOT NULL,
    tier_name character varying(50) NOT NULL,
    data_cap_gb numeric(10,2) NOT NULL,
    cost_per_subscriber numeric(10,2) NOT NULL,
    is_active boolean DEFAULT true
);


ALTER TABLE public.pool_tiers OWNER TO postgres;

--
-- Name: pool_tiers_tier_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pool_tiers_tier_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pool_tiers_tier_id_seq OWNER TO postgres;

--
-- Name: pool_tiers_tier_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pool_tiers_tier_id_seq OWNED BY public.pool_tiers.tier_id;


--
-- Name: predictions_current_month; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.predictions_current_month (
    prediction_id bigint NOT NULL,
    msisdn character varying(50) NOT NULL,
    billing_month date NOT NULL,
    prediction_date date NOT NULL,
    predicted_data_gb numeric(10,2),
    confidence_lower_gb numeric(10,2),
    confidence_upper_gb numeric(10,2),
    days_remaining integer,
    current_usage_gb numeric(10,2),
    model_version character varying(20),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.predictions_current_month OWNER TO postgres;

--
-- Name: predictions_current_month_prediction_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.predictions_current_month_prediction_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.predictions_current_month_prediction_id_seq OWNER TO postgres;

--
-- Name: predictions_current_month_prediction_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.predictions_current_month_prediction_id_seq OWNED BY public.predictions_current_month.prediction_id;


--
-- Name: predictions_next_month; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.predictions_next_month (
    prediction_id bigint NOT NULL,
    msisdn character varying(50) NOT NULL,
    current_month date NOT NULL,
    next_month date NOT NULL,
    predicted_data_gb numeric(10,2),
    confidence_lower_gb numeric(10,2),
    confidence_upper_gb numeric(10,2),
    model_version character varying(20),
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.predictions_next_month OWNER TO postgres;

--
-- Name: predictions_next_month_prediction_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.predictions_next_month_prediction_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.predictions_next_month_prediction_id_seq OWNER TO postgres;

--
-- Name: predictions_next_month_prediction_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.predictions_next_month_prediction_id_seq OWNED BY public.predictions_next_month.prediction_id;


--
-- Name: subscribers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subscribers (
    subscriber_id bigint NOT NULL,
    msisdn character varying(50) NOT NULL,
    imsi character varying(17),
    tenant_id bigint NOT NULL,
    billing_code character varying(20),
    bundle_id character varying(20),
    activation_date timestamp with time zone,
    deactivation_date timestamp with time zone,
    current_status character varying(20),
    iccid character varying(22),
    zipcode character varying(5),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT subscribers_current_status_check CHECK (((current_status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'SUSPENDED'::character varying, 'DEACTIVATED'::character varying])::text[])))
);


ALTER TABLE public.subscribers OWNER TO postgres;

--
-- Name: subscribers_subscriber_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.subscribers_subscriber_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.subscribers_subscriber_id_seq OWNER TO postgres;

--
-- Name: subscribers_subscriber_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.subscribers_subscriber_id_seq OWNED BY public.subscribers.subscriber_id;


--
-- Name: usage_daily_agg; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usage_daily_agg (
    usage_date date NOT NULL,
    msisdn character varying(50) NOT NULL,
    voice_minutes numeric(10,2) DEFAULT 0,
    sms_count integer DEFAULT 0,
    data_bytes bigint DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    voice_events integer DEFAULT 0,
    sms_events integer DEFAULT 0,
    data_sessions integer DEFAULT 0,
    roaming_voice_minutes numeric(10,2) DEFAULT 0,
    roaming_data_bytes bigint DEFAULT 0
);


ALTER TABLE public.usage_daily_agg OWNER TO postgres;

--
-- Name: usage_monthly_agg; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usage_monthly_agg (
    billing_month date NOT NULL,
    msisdn character varying(50) NOT NULL,
    days_in_cycle integer DEFAULT 0,
    voice_minutes numeric(10,2) DEFAULT 0,
    sms_count integer DEFAULT 0,
    data_bytes bigint DEFAULT 0,
    last_updated timestamp with time zone DEFAULT now()
);


ALTER TABLE public.usage_monthly_agg OWNER TO postgres;

--
-- Name: cdr_data id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cdr_data ALTER COLUMN id SET DEFAULT nextval('public.cdr_data_id_seq'::regclass);


--
-- Name: cdr_sms id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cdr_sms ALTER COLUMN id SET DEFAULT nextval('public.cdr_sms_id_seq'::regclass);


--
-- Name: cdr_voice id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cdr_voice ALTER COLUMN id SET DEFAULT nextval('public.cdr_voice_id_seq'::regclass);


--
-- Name: daily_subscriber_reports id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_subscriber_reports ALTER COLUMN id SET DEFAULT nextval('public.daily_subscriber_reports_id_seq'::regclass);


--
-- Name: data_donations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.data_donations ALTER COLUMN id SET DEFAULT nextval('public.data_donations_id_seq'::regclass);


--
-- Name: donations donation_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.donations ALTER COLUMN donation_id SET DEFAULT nextval('public.donations_donation_id_seq'::regclass);


--
-- Name: pool_assignments assignment_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pool_assignments ALTER COLUMN assignment_id SET DEFAULT nextval('public.pool_assignments_assignment_id_seq'::regclass);


--
-- Name: pool_tiers tier_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pool_tiers ALTER COLUMN tier_id SET DEFAULT nextval('public.pool_tiers_tier_id_seq'::regclass);


--
-- Name: predictions_current_month prediction_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.predictions_current_month ALTER COLUMN prediction_id SET DEFAULT nextval('public.predictions_current_month_prediction_id_seq'::regclass);


--
-- Name: predictions_next_month prediction_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.predictions_next_month ALTER COLUMN prediction_id SET DEFAULT nextval('public.predictions_next_month_prediction_id_seq'::regclass);


--
-- Name: subscribers subscriber_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscribers ALTER COLUMN subscriber_id SET DEFAULT nextval('public.subscribers_subscriber_id_seq'::regclass);


--
-- Name: cdr_data cdr_data_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cdr_data
    ADD CONSTRAINT cdr_data_pkey PRIMARY KEY (effective_date, id);


--
-- Name: cdr_sms cdr_sms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cdr_sms
    ADD CONSTRAINT cdr_sms_pkey PRIMARY KEY (effective_date, id);


--
-- Name: cdr_voice cdr_voice_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cdr_voice
    ADD CONSTRAINT cdr_voice_pkey PRIMARY KEY (effective_date, id);


--
-- Name: daily_subscriber_reports daily_subscriber_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_subscriber_reports
    ADD CONSTRAINT daily_subscriber_reports_pkey PRIMARY KEY (usage_date, msisdn);


--
-- Name: data_donations data_donations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.data_donations
    ADD CONSTRAINT data_donations_pkey PRIMARY KEY (id);


--
-- Name: donation_thresholds donation_thresholds_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.donation_thresholds
    ADD CONSTRAINT donation_thresholds_pkey PRIMARY KEY (msisdn, billing_month, calculation_date);


--
-- Name: donations donations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.donations
    ADD CONSTRAINT donations_pkey PRIMARY KEY (donation_id);


--
-- Name: pool_assignments pool_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pool_assignments
    ADD CONSTRAINT pool_assignments_pkey PRIMARY KEY (assignment_id);


--
-- Name: pool_tiers pool_tiers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pool_tiers
    ADD CONSTRAINT pool_tiers_pkey PRIMARY KEY (tier_id);


--
-- Name: predictions_current_month predictions_current_month_msisdn_billing_month_prediction_d_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.predictions_current_month
    ADD CONSTRAINT predictions_current_month_msisdn_billing_month_prediction_d_key UNIQUE (msisdn, billing_month, prediction_date);


--
-- Name: predictions_current_month predictions_current_month_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.predictions_current_month
    ADD CONSTRAINT predictions_current_month_pkey PRIMARY KEY (prediction_id);


--
-- Name: predictions_next_month predictions_next_month_msisdn_next_month_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.predictions_next_month
    ADD CONSTRAINT predictions_next_month_msisdn_next_month_key UNIQUE (msisdn, next_month);


--
-- Name: predictions_next_month predictions_next_month_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.predictions_next_month
    ADD CONSTRAINT predictions_next_month_pkey PRIMARY KEY (prediction_id);


--
-- Name: subscribers subscribers_msisdn_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscribers
    ADD CONSTRAINT subscribers_msisdn_key UNIQUE (msisdn);


--
-- Name: subscribers subscribers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscribers
    ADD CONSTRAINT subscribers_pkey PRIMARY KEY (subscriber_id);


--
-- Name: usage_daily_agg usage_daily_agg_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usage_daily_agg
    ADD CONSTRAINT usage_daily_agg_pkey PRIMARY KEY (usage_date, msisdn);


--
-- Name: usage_monthly_agg usage_monthly_agg_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usage_monthly_agg
    ADD CONSTRAINT usage_monthly_agg_pkey PRIMARY KEY (billing_month, msisdn);


--
-- Name: idx_donor_msisdn; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_donor_msisdn ON public.data_donations USING btree (donor_msisdn);


--
-- Name: idx_pred_current_msisdn; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pred_current_msisdn ON public.predictions_current_month USING btree (msisdn);


--
-- Name: idx_pred_next_msisdn; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pred_next_msisdn ON public.predictions_next_month USING btree (msisdn);


--
-- Name: usage_daily_agg trigger_update_monthly_agg; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_update_monthly_agg AFTER INSERT OR UPDATE ON public.usage_daily_agg FOR EACH ROW EXECUTE FUNCTION public.update_monthly_aggregates();


--
-- Name: pool_assignments pool_assignments_tier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pool_assignments
    ADD CONSTRAINT pool_assignments_tier_id_fkey FOREIGN KEY (tier_id) REFERENCES public.pool_tiers(tier_id);


--
-- PostgreSQL database dump complete
--

\unrestrict nNuUe9EWmulBWNRXAqSLgEUur4dzBTzq7hA11s3C9pYdo3uXxybkGvAZchEeiLL

